
.home-container,
.hombres-container,
.mujeres-container,
.accesorios-container {
  padding: 20px;
  text-align: center;
  background: #f5f5f5;
}

.hero {
  background: linear-gradient(90deg, #1d4ed8, #22d3ee); 
  color: white;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 40px;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-hero {
  background: #f97316; 
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

.btn-hero::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.4s;
  border-radius: 10px;
}

.btn-hero:hover::after {
  width: 100%;
}

.btn-hero:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.hombres-grid,
.mujeres-grid,
.accesorios-grid,
.cat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px 0;
}


.hombre-card,
.mujer-card,
.accesorio-card,
.cat-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}


.hombre-img-container,
.mujer-img-container,
.accesorio-img-container {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}


.hombre-img-container img,
.mujer-img-container img,
.accesorio-img-container img,
.cat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}


.desc {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.precio {
  font-weight: bold;
  color: #d00000;
  margin-bottom: 10px;
}

.cat-card p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #1e40af; 
}


button,
.btn-hero {
  cursor: pointer;
}

button {
  background-color: #4f46e5;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3730a3;
}


.categorias h2 {
  margin-bottom: 15px;
  color: #1e3a8a; 
}


.ofertas {
  margin: 40px 0;
  text-align: center;
  background: linear-gradient(90deg, #fde68a, #facc15);
  padding: 40px 20px;
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ofertas-link {
  text-decoration: none;
  color: #000;
  display: block;
}

.ofertas:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.ofertas h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.ofertas p {
  font-size: 1.2rem;
  font-weight: bold;
}
