name: 03 - CD Producción (Deploy)
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # 1. Bajar código
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Construir Artefacto (JAR)
        run: mvn clean package -DskipTests

      - name: Login en DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir y Subir Imagen Docker
        uses: docker/build-push-action@v6
        with:
          context: .    #Usar el directorio actual
          push: true    #Habilita el push
          tags: ${{ secrets.DOCKER_USERNAME }}/valdo-backend:latest



